{# templates/admin/articles.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<h1>Articles</h1>
<div class="mb-3">
    <a href="{{ path('create_article') }}" class="btn btn-success">Create New Article</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {# Aici ar trebui să parcurgi articolele din baza de date #}
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>
                    <a href="{{ path('edit_article', {'id': article.id}) }}" class="btn btn-warning">Edit</a>
                    <a href="{{ path('delete_article', {'id': article.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
